<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>Luna DS - Typography</title>

		<meta name="description" content="A vertical rhythm tool for developers and designers." />
		<meta name="keywords" content="CSS,Typography,Vertical Rhythm" />
		<meta name="author" content="Aleksander Nowodzński – http://nowodzinski.pl" />

		<link href="css/styles.css" type="text/css" rel="stylesheet" />
		<link href="css/highlight/github.css" rel="stylesheet" />

		<script src="js/vue.min.js"></script>
		<script src="js/lodash.min.js"></script>
		<script src="js/webfontloader.js"></script>

		<script src="js/cap-height.js"></script>
		<script src="js/element-ui.min.js"></script>
		<script src="js/highlight.pack.js"></script>
		<script src="js/rhythm.js"></script>
		<script src="js/app.js"></script>
	</head>
	<body>
		<div class="app">
			<div class="ctrl">
				<el-popover
					ref="popcap"
					placement="top"
					width="200"
					trigger="hover"
					content="Cap height is the height of the capital letter for the typeface."
				></el-popover>

				<el-collapse v-model="collapse">
					<el-collapse-item title="Basic settings" name="basic">
						<el-form label-position="top" :inline="true">
							<el-form-item class="ctrl__font-family" label="Font family">
								<el-select v-model="config.font.current" placeholder="Font">
									<el-option v-for="item in config.font.options" :label="item.label" :value="item.value"></el-option>
								</el-select>
							</el-form-item>
							<el-form-item class="ctrl__cap-height" label="Cap height">
								<el-input-number v-model="config.capHeight" :min="0.1" :max="1" :controls="false" v-popover:popcap></el-input-number>
							</el-form-item>
						</el-form>
						<el-form label-position="top">
							<el-form-item label="Base font size (px)">
								<el-slider v-model="config.baseFontSize" show-input :min="10" :max="30"></el-slider>
							</el-form-item>
							<el-form-item label="Base line height">
								<el-slider v-model="config.baseLineHeight" show-input :step="0.1" :min="0.5" :max="3"></el-slider>
							</el-form-item>
							<el-form-item label="Text width (em)">
								<el-slider v-model="config.textWidth" show-input :min="10" :max="100"></el-slider>
							</el-form-item>
						</el-form>
						<el-form label-position="top">
							<el-form-item class="ctrl__scale" label="Scale">
								<el-select v-model="config.scale.current" placeholder="Scale">
									<el-option v-for="item in config.scale.options" :label="item.label" :value="item.value"></el-option>
								</el-select>
							</el-form-item>
						</el-form>
						<el-form label-position="left" label-width="7em">
							<el-form-item label="Bold headers">
								<el-switch v-model="config.font.boldHeaders" on-text="(Yes)" off-text="No"></el-switch>
							</el-form-item>
						</el-form>
					</el-collapse-item>
					<el-collapse-item title="Rhythm adjustment" name="adjustment">
						<el-form label-position="left" label-width="3.5em">
							<el-form-item label="H1">
								<el-slider v-model="config.scale.factors.h1" :min="0" :max="6" :show-stops="true"></el-slider>
							</el-form-item>
							<el-form-item label="H2">
								<el-slider v-model="config.scale.factors.h2" :min="0" :max="6" :show-stops="true"></el-slider>
							</el-form-item>
							<el-form-item label="H3">
								<el-slider v-model="config.scale.factors.h3" :min="0" :max="6" :show-stops="true"></el-slider>
							</el-form-item>
							<el-form-item label="H4">
								<el-slider v-model="config.scale.factors.h4" :min="0" :max="6" :show-stops="true"></el-slider>
							</el-form-item>
							<el-form-item label="H5">
								<el-slider v-model="config.scale.factors.h5" :min="0" :max="6" :show-stops="true"></el-slider>
							</el-form-item>
						</el-form>
					</el-collapse-item>
					<el-collapse-item title="Extra header spacing" name="hader-spacing">
						<el-form label-position="left" label-width="5em">
							<el-form-item label="Before">
								<el-slider v-model="config.scale.headerSpacing.before" :min="0" :max="3" :show-stops="true"></el-slider>
							</el-form-item>
							<el-form-item label="After">
								<el-slider v-model="config.scale.headerSpacing.after" :min="0" :max="3" :show-stops="true"></el-slider>
							</el-form-item>
						</el-form>
					</el-collapse-item>
				</el-collapse>
				<el-form class="ctrl__actions" label-position="left">
					<el-form-item label="Grid"> <el-switch v-model="config.showGrid" on-text="(Yes)" off-text="No"></el-switch> </el-form-item>
					<el-form-item label="Show output"> <el-switch v-model="config.outputVisible" on-text="(Yes)" off-text="No"></el-switch> </el-form-item>
				</el-form>
			</div>
			<div class="sandbox-container">
				<section class="sandbox">
					<div class="meta-h1">h1 Display Medium 40/48</div>
					<h1 class="medium">h1 Display Medium 40/48</h1>
					<h1 class="regular">h1 Display Regular 40/48</h1>
					<h2 class="medium">h2 Medium 32/40</h2>
					<h2 class="regular">h2 Regular 32/40</h2>
					<h3 class="medium">h3 Medium 24/32</h3>
					<h3 class="regular">h3 Regular 24/32</h3>
					<h4 class="medium">h4 Medium 18/28</h4>
					<h4 class="regular">h4 Regular 18/28</h4>
					<h5 class="medium">h5 Medium 14/20</h5>

					<p>
						Typography must serve the diverse communicative needs of a design system. From brand expression to detailing data and technical
						information, the typography must be flexible and serve multiple purposes within it’s system.
					</p>
					<div class="label">Regular 12/16</div>

					<!-- <p class="p p0"><span class="c">Ba</span></p> -->
				</section>
			</div>
			<div class="output" v-bind:class="{ hidden: !config.outputVisible }">
				<div class="output__options">
					<el-radio-group v-model="config.outputSyntax" size="small">
						<el-radio-button label="css">CSS</el-radio-button>
						<el-radio-button label="scss">SASS</el-radio-button>
					</el-radio-group>
					<el-radio-group v-model="config.outputUnit" size="small">
						<el-radio-button label="px">px</el-radio-button>
						<el-radio-button label="em">em</el-radio-button>
						<el-radio-button label="rem">rem</el-radio-button>
					</el-radio-group>
				</div>
				<pre><code v-html="output"></code></pre>
			</div>
		</div>

		<style class="sandbox-styles" type="text/css"></style>
	</body>
</html>
